body{
  padding-top: 70px;
}
*{padding:0px;margin:0px auto;}
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default li {
  font-size: large;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}
.auth{margin-top: 25px}
.panel-default > .panel-heading {
  background-color: #e74c3c;
  color: white;
}
.btn-custom {background-color: #e74c3c;color: white;height: 30px;font-size: small;
}
.register{margin-top: 30px}
.register h3{color: #e74c3c;}
@media (min-width: 320px) and (max-width: 640px) {
.auth{margin-top: 20px}
.register{margin-top: 5px}
.alignment h3 {font-size: 1.1em}
}
#like{cursor: pointer; cursor: hand;}
.action{font-size: large;font-weight: bold;padding: 1px 4px;cursor: pointer;}
.actionDiv{position: relative;}
.actionType{background: #DCDCDC;position: absolute;z-index: 1;left: -43px;padding: 2px 0px 0px 0px;border-radius: 4px;top:35px;}
.actionType::before{content: ""}

.actionType #triangle-up { width: 0;
height: 0;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 16px solid #DCDCDC;
position: absolute;
top: -15px;
left: 42%;}
.actionType ul {list-style: none;}
.actionType ul li {background: #a8a8a8;
display: block;
padding: 3px 35px;
margin-top: 2px;
cursor: pointer;
transition:background .3s;
font-size: 13px;
}
.actionType ul li a{color: black;}
.actionType ul li {color: black;}
.actionType ul li:hover{background: grey;transition:background .4s;}
.clear{clear:both;}
.comment_row:hover{background: #d4d4d4;border-radius: 5px;transition: background .4s;}
.comment_row{transition: background .3s;}
#post_title h5,
#post_title p {
    display: inline;
    vertical-align: top;
    line-height: 28px;
}


